.upload_container{
    width: clamp(200px, 40%, 400px);
    display: inline-flex;
    padding: 20px;
}

.custom-file-input {
    width: 120px;
    overflow: hidden;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Load Excel File';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.custom_btn {
    width: fit-content;
    width: -moz-fit-content;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #0D6EFD;
    color:#0D6EFD;
    background-color: #fff;
    font-weight: 700;
    font-size: 10pt;
    text-transform: uppercase;
}

.custom_btn:hover{
    border: 1px solid #fff;
    color: #fff;
    background-color: #0D6EFD;
}

.custom_btn:active{
    transform: scale(0.9) translate(2%);
}